<% include partials/header %>
<h1>FORTNITE BATTLE ROYALE STATS</h1>





<form action="/stats" method="get">
    <div class="ui input focus">
            <input type="text" placeholder="User Name" name="user">
        </div>
        <div class="ui input focus">
            <input type="text" placeholder="Platform" name="platform">
        </div>

        
    <button type="submit" class="ui blue button">Go</button>
</form>
<a href="/stats">Stats</a>
<% include partials/footer %>