@font-face {
    font-family: "BurbankBigCondensed-Black";
    src:url("/font/BurbankBigCondensed-Black.otf") format('opentype');
}

body {
    background-color: steelblue;
}

h1 {
    text-align: center;
    font-family: "BurbankBigCondensed-Black";
    color: whitesmoke;
    font-size: 80px;
    margin-top: 200px;
}

h2 {
   font-family: 'BurbankBigCondensed-Black',
   sans-serif;
    color: whitesmoke;
}

.section {
font-size: 40px;
}

i.big.icon {
    font-size: 4em;
    color: red;
   
}

div.value {
text-align: center;
display: inline-block;
}


.status {
text-align: right;
 font-family: 'BurbankBigCondensed-Black',
 sans-serif;
 color: whitesmoke;
 font-size: 30px;
 margin-top: 20px;
 margin-right:20px;
}

.statusLight {
    color: rgb(30, 199, 66);
}
.ui.items>.item>.content>.header:not(.ui) {
  font-size: 30px;   
}
.ui.items>.item>.content>.header {
   text-align: center;
    color: whitesmoke;
    font-family: 'BurbankBigCondensed-Black',
    sans-serif;
}

div.item {
    height: 250px;
}

.description{
    font-family: "Tahoma", sans-serif;
    font-size: 15px;
}

.ui.card,
.ui.cards>.card {
    background-color: rgb(47, 33, 129);
}

.ui.cards>.card>.content>.header:not(.ui) {
    font-size: 2.5em;
    color: whitesmoke;
}