@font-face {
    font-family: "BurbankBigCondensed-Black";
    src:url("/font/BurbankBigCondensed-Black.otf") format('opentype');
}

body {
    background-color: #1f1f1f;
    color: whitesmoke;
    font-family: "Roboto",
    sans-serif;
    font-size: 16px;
}

.hero {
    background-image: url("/images/Fortnite-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:800px;
}

.dark {
    background-color:#2b2b2b;
}

h1, .action, .status, .statusUp {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);    
}

h1 {
    text-align: center;
       font-size: 6em;
       margin-top: 200px;
       font-family: 'BurbankBigCondensed-Black',
       sans-serif;
}

.action {
    text-align: center;
    font-size: 3em;
}

h2:first-child, h2 {
   font-family: 'BurbankBigCondensed-Black',
   sans-serif;
    margin-top: 30px;
    text-align: center;
    font-size: 3em;
}

 li {
      font-size: 1.25em;
     font-weight: 800;
     line-height: 1.5;
 }

i.big.icon {
    font-size: 3em;
    color: lightslategray;
}

div.value {
text-align: center;
display: inline-block;
}

.status {
text-align: right;
 font-family: 'BurbankBigCondensed-Black',
 sans-serif;
 font-size: 30px;
 margin-top: 20px;
 margin-right:20px;
 
}

.statusUp {
    color: rgb(30, 199, 66);
   }

.ui.segment {
    background: #2b2b2b;
    margin: 20px;
}

.ui.segment:first-child {
margin: 20px;
}

.ui.form .fields {
    justify-content: center;
}

.solo, .duo, .squad {
     height: 40px;
     display: flex;
}
.solo {
    background-color:#17c2fe;
    color: #034a63;
 }

 .duo {
     background-color: #f1ed63;
     color: black;
 }

 .squad {
     background-color: #FFA500;
    color: #CD6600;
 }

.solo h3, .duo h3, .squad h3 {
    margin-left: 20px;
    align-self: center;
}


.ui.items{
    margin-left: 20px;
}
.ui.items>.item>.content>.header:not(.ui) {
  font-size: 2em;   
}
.ui.items>.item>.content>.header {
   text-align: center;
    color: whitesmoke;
    font-family: 'BurbankBigCondensed-Black',
    sans-serif;
}

div.item {
    height: 250px;
}


.ui.items>.item>.content>.description {
 font-family: "Roboto", sans-serif;
font-size: 16px;
color: whitesmoke;
}

.ui.four.cards {
    margin-top: 20px;
}

.ui.card,
.ui.cards>.card {
    background-color: #190729;
}

.ui.cards>.card>.content>.header:not(.ui) {
    font-size: 2.0em;
    color: whitesmoke;
    font-family: "Roboto",
    sans-serif;
}

.right.aligned.sub.header {
    color: lightslategray;
}