@font-face {
    font-family: "BurbankBigCondensed-Black";
    src:url("/font/BurbankBigCondensed-Black.otf") format('opentype');
}

body {
    background-color: 
    #1f1f1f;
    
}


.hero {
    background-image: url("/images/Fortnite-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:800px;
    opacity: 0.8;
}

.dark {
    background-color:#2b2b2b;
    
}


h1 {
    text-align: center;
    font-family: "BurbankBigCondensed-Black";
    color: whitesmoke;
    font-size: 80px;
    margin-top: 200px;
    
}

h2:first-child, h2 {
   font-family: 'BurbankBigCondensed-Black',
   sans-serif;
    color: whitesmoke;
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
}

p {
   color: whitesmoke;
}
 li {
     color: whitesmoke;
     font-size: 16px;
     font-weight: 800;
     line-height: 1.5;
 }

i.big.icon {
    font-size: 4em;
    color: rgb(164, 173, 180);
   
}

div.value {
text-align: center;
display: inline-block;
}


.status {
text-align: right;
 font-family: 'BurbankBigCondensed-Black',
 sans-serif;
 color: whitesmoke;
 font-size: 30px;
 margin-top: 20px;
 margin-right:20px;
}

.statusUp {
    color: rgb(30, 199, 66);
}
.ui.segment {
    background: #2b2b2b;
    margin: 20px;
}

.ui.segment:first-child {
margin: 20px;
}

.solo {
    background-color:#17c2fe;
    color: #034a63;
    height: 40px;
    display: flex;
}

.solo h3 {
    margin-left: 20px;
    align-self: center;
}


.ui.items{
    margin-left: 20px;
}
.ui.items>.item>.content>.header:not(.ui) {
  font-size: 30px;   
}
.ui.items>.item>.content>.header {
   text-align: center;
    color: whitesmoke;
    font-family: 'BurbankBigCondensed-Black',
    sans-serif;
}

div.item {
    height: 250px;
}

.description{
    font-family: "Tahoma", sans-serif;
    font-size: 15px;
}

.ui.card,
.ui.cards>.card {
    background-color: rgb(47, 33, 129);
}

.ui.cards>.card>.content>.header:not(.ui) {
    font-size: 2.5em;
    color: whitesmoke;
}